// 共用variable

$darker-green: #0fd8c6;
$green: #46ecdc;
$font-primary: #f1eacf;
$green-button: rgb(103, 166, 94);
$bluegreen-button: rgb(50, 176, 142);
$dark-bluegreen-button: rgb(0, 111, 115);
$dark-green: #295c5c;
$light-green: #0cfd7d;
$home-bg: #001f1b;
