// 共用variable

$primary: #ff900e;
$primary-desaturate: #927204;
$secondary: #ffc700;
$secondary-light: #ffea9f;

$darker-green: #0fd8c6;
$green: #46ecdc;
$font-primary: #f1eacf;
$green-button: rgb(103, 166, 94);
$bluegreen-button: rgb(50, 176, 142);
$dark-bluegreen-button: rgb(0, 111, 115);
$dark-green: #295c5c;
$light-green: #0cfd7d;
$home-bg: #001f1b;

$white: #fff;
$black: #000;
