@use './_variables' as *;
@use './mixin' as *;
@import './globals.scss';

.banner {
  background-color: black;
  padding-top: 400px;
  background-image: url('../public/assets/images/home/photo_2022-10-18_23-04-21.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  @include md {
    background-color: transparent;
    background-image: url('../public/assets/images/home/index_bg.png');
    background-size: cover;
    height: 55vw;
  }
  @include lg {
    padding: 400px 10% 3% 10%;
    background-size: 100% auto;
    background-size: cover;
    height: 46vw;
  }
  h2:first-child {
    @include lg {
      color: #30ad8f;
    }
  }
  h2 {
    line-height: 1.5;
  }
  p {
    text-align: left;
    margin-top: 20px;
    line-height: 1.8;
  }
  .banner-text-align {
    text-align: center;
  }
  .banner-btn-green {
    @include btn($green-button);

    width: 140px;
    height: 45px;
  }
  .banner-btn-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .banner-btn-bluegreen {
    @include btn($bluegreen-button);
    width: 140px;
    height: 45px;
  }
}
