@use './_variables' as *;
@use './mixin' as *;
@import './globals.scss';

.banner {
  background-color: black;
  padding-top: 400px;
  background-image: url('../public/assets/images/home/photo_2022-10-18_23-04-21.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  @include md {
    background-color: transparent;
    background-image: url('../public/assets/images/home/index_bg.png');
    background-size: cover;
    height: 55vw;
  }
  @include lg {
    padding: 250px 10% 3% 10%;
    background-size: 100% auto;
    background-size: cover;
    height: 46vw;
  }
  h2:first-child {
    @include lg {
      color: #30ad8f;
    }
  }
  h1 {
    font-family: 'mirza';
    line-height: 1;
    svg {
      width: 100%;
      font-size: 70px;
      font-weight: bold;
      height: 84px;
      fill: $primary;
    }
    .svgText {
      &--active {
        position: relative;
        fill: $primary;
        stroke: white;
        stroke-width: 19px;
        stroke-linejoin: round;
        paint-order: stroke;
      }
    }
  }
  p {
    font-family: 'mirza';
    text-align: center;
    color: $white;
    font-size: 4rem;
    margin-top: 100px;
    line-height: 1;
  }
  .banner-text-align {
    text-align: center;
  }
  .banner-buy-btn {
    font-family: 'LufgaBold';
    width: fit-content;
    height: 100%;
    position: relative;
    background-color: transparent;
    border: none;
    &:hover {
      filter: brightness(80%);
    }
  }
  .banner-btn-icon {
    width: 100%;
    height: 100%;
    color: $white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -8px;
    top: 0;
    span {
      padding-bottom: 5px;
      font-size: 2.4rem;
      @include btnText($secondary-green);
    }
    .yellow-text {
      @include btnText($secondary);
    }
  }
  .social-links {
    position: absolute;
    display: flex;
    gap: 15px;
    right: -100px;
    bottom: 0;
    div {
      cursor: pointer;
    }
  }
}
