@use './_variables' as *;
@use './mixin' as *;
@import './globals.scss';

.guide-area {
  overflow: hidden;
  position: relative;
  background: $primary_orange
    url('../public/assets/images/home/Gameplay_Model_Guide.png') no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 5% 60px 15%;
  h2 {
    color: $secondary-dark-green;
  }
  @include md {
  }
  @include lg {
    padding: 5% 60px 10%;
  }
  .video {
    iframe {
      margin-top: 0px;
    }
  }
  .swiper-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -10%);
    .hover {
      display: none;
    }
    .unhover {
      display: block;
    }
    &:hover {
      .hover {
        display: block;
      }
      .unhover {
        display: none;
      }
    }
    &.mybtn-prev {
      left: 5%;
    }
    &.mybtn-next {
      right: 5%;
    }
  }
}
