@use './_variables' as *;
@use './mixin' as *;
@import './globals.scss';

.nft-item-area {
  z-index: 3;
  margin-top: -150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent url('../public/assets/images/home/nft_display_2.png')
    no-repeat;
  background-size: 110% auto;
  background-position: top center;
  @include sm {
    margin-top: -150px;
  }
  @include md {
    margin-top: -180px;
    padding-left: 0;
    padding-right: 0;
  }
  @include lg {
    margin-top: -150px;
    background: transparent
      url('../public/assets/images/home/NFT_Display_1.png') no-repeat;
    background-size: 102% auto;
    background-position: top center;
  }
  @include xl {
    margin-top: -180px;
  }
  @include xxl {
    margin-top: -240px;
  }
  // .nft-item-display {
  //   position: absolute;
  //   top: -180px;
  //   left: 50%;
  //   z-index: 3;
  //   transform: scale(1.15) translate(-44%, 0);
  // }
  .nft-item-content {
    margin-top: 15%;
    @include lg {
      margin-top: 80px;
    }
    @include xl {
      margin-top: 150px;
    }
    @include xxl {
      margin-bottom: 10%;
    }
    @include xxxl {
      margin-top: 180px;
      margin-bottom: 11%;
    }
  }

  .nft-item-btn {
    @include btn($green-button);
    width: fit-content;
    height: 45px;
    padding: 20px 35px;
    font-family: 'LufgaBold';
    color: white;
  }
  .nft-item-monster-block {
    margin: 80px -40px 0px -40px;
    // max-width: 140rem;
    max-width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    @include md {
      margin: 30px 0px;
    }
    @include xl {
      margin: 30px 0px 60px 0px;
    }
    @include xxxl {
      margin: 30px 0px 100px 0px;
    }
  }
  .nft-item-monster-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    animation: infiniteSlide 30s linear 0s infinite;
    li {
      flex: 0 0 auto;
      display: block;
    }
  }

  .nft-item-card {
    width: 30vw;
    height: 30vw;
    margin: 0 10px;
    border-radius: 3vw;
    border: 5px solid $secondary-dark-green;
    @include lg {
      border: 15px solid $secondary-dark-green;
      width: 15vw;
      height: 15vw;
      margin: 0 15px;
      border-radius: 2vw;
    }
    background-color: $black;

    .nft-item-card-img {
      width: 100%;
      height: 100%;
      img {
        transform: scale(1.05);
        top: -50% !important;
      }
      &.dark {
        img {
          top: -60% !important;
          @include xl {
            top: -65% !important;
          }
        }
      }
    }
  }

  h2 {
    color: $white;
  }
  h4 {
    font-size: 3rem;
    font-family: 'mirza';
    color: $secondary_yellow;
    @include xl {
      font-size: 7rem;
    }
  }
  p {
    font-family: 'LufgaBold';
    color: $white;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
    @include sm {
      font-size: 1.8rem;
    }
    @include md {
      font-size: 2.4rem;
    }
  }
}
