@use './_variables' as *;
@use './mixin' as *;
@import './globals.scss';

.partner-area {
  top: -80px;
  position: relative;
  background-color: $white;
  padding: 0 30px;
  padding-top: 0;
  margin-bottom: -100px;
  @include lg {
    padding: 0% 3%;
  }
  h2 {
    font-family: 'mirza';
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 5%;
    svg {
      width: 100%;
      font-size: 96px;
      font-weight: bold;
      fill: $white;
      @include md {
        margin-top: 2%;
        width: 50%;
        font-size: 96px;
      }
    }
    .svgText {
      &--active {
        position: relative;
        fill: $white;
        stroke: $primary_orange;
        stroke-width: 15px;
        stroke-linejoin: round;
        paint-order: stroke;
        @include md {
          stroke-width: 19px;
        }
      }
    }
  }
  .partner-grid {
    display: grid;
    margin-bottom: 50px;
    // grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-columns: repeat(2, 1fr);
    @include md {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 5%;
    }
    @include xl {
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 5%;
    }
  }
  .partner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    width: 100%;
    height: auto;
    overflow: hidden;
    @include lg {
      padding: 1vw 5vw;
    }
    img {
      width: 80%;
      max-width: 100px;
      object-fit: cover;
    }
    &.pic13 {
      transform: scale(0.9);
      img {
        width: 50%;
        max-width: 100px;
        object-fit: cover;
      }
    }
  }
}
