@use './_variables' as *;
@use './_mixin' as *;

.swap-area {
  background-color: #242735;
  font-family: 'LufgaBold';
  padding: 15px;
  min-height: calc(100vh - 30px);
}

.contract-block {
  display: flex;
  color: white;
  background-color: #11131b;
  border-radius: 5px;
  width: fit-content;
  padding: 15px;
  span:nth-child(2) {
    word-break: break-all;
  }
  @include xl {
    z-index: 11;
  }
}

.top-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  @include xl {
    flex-direction: row;
    max-width: 100%;
    padding: 8vw 15vw 0 8vw;
    justify-content: space-between;
  }
}

.contract-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  @include xl {
    align-items: flex-start;
  }
}

.buy-area {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.form-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.dropdown-toggle {
  border: 1px solid rgb(111, 111, 111);
  transition: 0.3s;
  &:hover {
    border: 1px solid white;
  }
}

.dropdown-menu-item {
  color: $dark-bluegreen-button;
  font-size: 1.6rem;
  padding: 10px 15px;
  font-family: 'BoldenVan';
  &:hover {
    color: $dark-bluegreen-button;
    background-color: lighten($font-primary, 5%);
  }
}

// btn
.buy-btn {
  @include btn(#f28e26);
  background-image: linear-gradient(0deg, #f28e26, #fd644f);
  font-size: 1.4rem;
  line-height: 16px;
  padding: 5px 15px;
  border-radius: 30px;
  @include xl {
    z-index: 11;
  }
}
