@use './_variables' as *;
@use './mixin' as *;
@import './globals.scss';
.team-area {
  position: relative;
  top: -100px;
  z-index: 1;
  background: transparent url('../public/assets/images/home/team_bg.png')
    no-repeat;
  background-size: cover;
  background-position: top center;
  @include lg {
    padding: 8% 3% 18%;
  }
  h2 {
    font-size: 9.6rem;
    color: $white;
    @include lg {
      color: white;
      margin-top: 0;
    }
  }
  .team-title {
    z-index: 3;
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .team-frame {
    position: absolute;
    width: fit-content;
    top: 140px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .team-card-block-pc {
    margin-top: 0px;
  }

  .team-card-block {
    @include lg {
      display: none;
    }
    margin: 0 -40px;
    background-color: #1e1e1e;
  }
  .team-card-grid {
    display: none;
    @include lg {
      display: grid;
      grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
      margin: 0 15vw;
    }
  }
  .team-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include lg {
      padding: 0px;
    }
  }
  .team-member-img {
  }
  .member-position {
    color: $green-button;
  }
  .member-title {
    color: #21735c;
  }
  .swiper-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -30%);
    .hover {
      display: none;
    }
    .unhover {
      display: block;
    }
    &:hover {
      .hover {
        display: block;
      }
      .unhover {
        display: none;
      }
    }
    &.mybtn-prev {
      left: 45px;
    }
    &.mybtn-next {
      right: 45px;
    }
  }
}

.swiper-button-prev {
  margin-left: 20px;
  &::after {
    transform: translateX(-1px) scale(0.45);
  }
}
.swiper-button-next {
  margin-right: 20px;
  &::after {
    transform: translateX(1px) scale(0.45);
  }
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5);
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  transition: 0.2s;
  &:hover {
    background-color: rgba(127, 127, 127, 0.5);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: bolder;
  color: $light-green;
}
