@use './_variables' as *;
@use './mixin' as *;
@import './globals.scss';
.team-area {
  position: relative;
  top: -90px;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  background: transparent url('../public/assets/images/home/team_bg_mb.png')
    no-repeat;
  background-size: cover;
  background-position: top center;
  @include md {
    background: transparent url('../public/assets/images/home/team_bg.png')
      no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 120px;
  }
  @include lg {
    padding: 8% 3% 18%;
  }
  h2 {
    color: $white;
    @include lg {
      color: white;
      margin-top: 0;
    }
  }
  .team-title {
    color: $secondary_yellow--light;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before {
      z-index: -1;
      display: block;
      position: absolute;
      content: attr(data-text);
      color: $white;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      -webkit-text-stroke-width: 15px;
      -webkit-text-stroke-color: $primary_brown;
    }
  }
  .team-frame {
    position: relative;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    img {
      margin: 0 auto;
    }
    @include sm {
      padding-bottom: 60px;
    }
  }
  .team-card-block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 375px;
    // margin-top: calc(-60% - 210px);
    // @include sm {
    //   margin-top: -510px;
    // }
    // @include md {
    //   margin-top: -35%;
    // }
    // @include lg {
    //   margin-top: -31%;
    // }
    // @include xl {
    //   margin-top: -35%;
    // }
    // @include xxl {
    //   margin-top: -31%;
    // }
  }

  // .team-card-block {
  //   @include lg {
  //     display: none;
  //   }
  //   margin: 0 -40px;
  //   // background-color: #1e1e1e;
  // }
  .team-card-grid {
    display: none;
    @include lg {
      display: grid;
      grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
      margin: 0 15vw;
    }
  }
  .team-swiper {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    // @include sm {
    //   width: 320px;
    //   height: 450px;
    // }
    // @include md {
    //   width: 60vw;
    //   height: auto;
    // }
    // @include lg {
    //   width: 70vw;
    // }
  }

  .team-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      text-align: center;
      font-size: 1.8rem;
      @include lg {
        font-size: 2.4rem;
      }
    }
    p {
      text-align: center;
      font-size: 1.4rem;
      @include lg {
        font-size: 1.8rem;
      }
    }
    @include md {
      padding: 0px 30px;
    }
    @include lg {
      padding: 0px;
    }
  }
  .team-member-img {
  }
  .member-position {
    color: $green-button;
  }
  .member-title {
    color: #21735c;
  }
  .swiper-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -30%);
    .hover {
      display: none;
    }
    .unhover {
      display: block;
    }
    &:hover {
      .hover {
        display: block;
      }
      .unhover {
        display: none;
      }
    }
    &.mybtn-prev {
      left: -45px;
    }
    &.mybtn-next {
      right: -45px;
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: 0px !important;
    .swiper-pagination-bullet {
      @include xl {
        width: 10px;
        height: 10px;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $primary_brown;
    }
  }
}

.swiper-button-prev {
  margin-left: 20px;
  &::after {
    transform: translateX(-1px) scale(0.45);
  }
}
.swiper-button-next {
  margin-right: 20px;
  &::after {
    transform: translateX(1px) scale(0.45);
  }
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5);
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  transition: 0.2s;
  &:hover {
    background-color: rgba(127, 127, 127, 0.5);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: bolder;
  color: $light-green;
}
