@use "./_variables" as *;
@use "./mixin" as *;
@import "./globals.scss";

.whatsnew-area {
  background-color: $secondary-dark-green;
  @include xl {
    padding: 60px 80px;
  }

  .whatsnew-card-img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1.1);
  }
  .whatsnew-card-text {
    font-family: "notoSansMala";
    h3 {
      color: $secondary-green;
    }
    p {
      color: $white;
    }
    &::after {
      display: block;
      content: "";
      position: relative;
      margin-top: 10px;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
    }
  }
}
